/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root styles for colors and font settings */
:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #2a9eb3;
    }
}

/* Global body settings */
body {
    color: var(--foreground);
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    background-color: var(--background);
    line-height: 1.6;
}



@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

@keyframes rainbow-background {
  0% { background-color: #FF0000; } /* Red */
  14% { background-color: #FF7F00; } /* Orange */
  28% { background-color: #FFFF00; } /* Yellow */
  42% { background-color: #00FF00; } /* Green */
  56% { background-color: #0000FF; } /* Blue */
  70% { background-color: #4B0082; } /* Indigo */
  84% { background-color: #9400D3; } /* Violet */
  100% { background-color: #FF0000; } /* Back to Red */
}

.animate-rainbow {
  animation: rainbow-background 5s linear infinite;
}




